
.village:hover, .street:hover {
	-fx-fill: pink;
	-fx-stroke: pink;
	-fx-opacity: 1;
}

.root{
    -fx-font-size: 11pt;
    -fx-font-family: "Georgia", serif;
    -fx-base: #fff;
    -fx-background: #795548;
}

.button {
	-fx-background-radius: 3;
	-fx-text-fill: #fff;
	-fx-background-color: #795548;
	-fx-font-family: "Georgia", serif;
	-fx-effect: dropshadow(gaussian , #5D4037 , 0,0,0,3);
}

.player-board {
	-fx-background-image: url(/textures/player-board.jpg);
	-fx-background-color: #5D4037;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-border-color: #5D4037;
	-fx-border-width: 4;
	-fx-fill: #fff;
	-fx-text-fill: #fff;
}

.white {
	-fx-fill: #fff;
	-fx-font-family: Georgia, serif;
	-fx-text-fill: #fff;

}
